/* p.bgColor {
    background-color: yellow;
}

#divider {
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
*/
/* div {
    color: green;
}

p {
    color: green;
}

span {
    color: green
} */

/* div,
p,
span {
    color: green;
} */

/* * {
    background-color: red;
    color: yellowgreen;
} */

/* .class1 {
    background-color: red;
}

.class2 {
    background-color: blue;
} */

.sharad {
    background-color: red;
    font-size: 24px;
}

::marker {
    color: aquamarine;
}

p::before {
    content: "APPENDING BEFORE";
    font-size: 24px;
    color: red;
}

p::after {
    content: " -- APPENDING AFTER";
    font-size: 24px;
    color: green;
}

p::selection {
    background-color: orange;
}

a:link {
    background-color: red;
}

a:hover {
    background-color: bisque;
}

a:active {
    background-color: cyan;
}

#demo:target {
    background-color: blue;
}