* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* p.bgColor {
    background-color: yellow;
}

#divider {
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
*/
/* div {
    color: green;
}

p {
    color: green;
}

span {
    color: green
} */

/* div,
p,
span {
    color: green;
} */

/* * {
    background-color: red;
    color: yellowgreen;
} */

/* .class1 {
    background-color: red;
}

.class2 {
    background-color: blue;
} */

/* ::marker {
    color: aquamarine;
}

p::before {
    content: "APPENDING BEFORE";
    font-size: 24px;
    color: red;
}

p::after {
    content: " -- APPENDING AFTER";
    font-size: 24px;
    color: green;
}

p::selection {
    background-color: orange;
}

a:link {
    background-color: red;
} */

a:hover {
    background-color: bisque;
}

a:active {
    background-color: cyan;
}

#demo:target {
    background-color: blue;
}

/* input:required {
    background-color: red;
} */

/* input:invalid {
    border: 5px solid red;
}

input:valid {
    border: 5px solid green;
}

input:read-only {
    border: 5px solid orchid;
}

input:read-write {
    border: 5px solid rgb(190, 199, 174);
}

input:focus {
    border: 5px solid black;
}

input:disabled {
    background-color: blueviolet;
}

input:read-write {
    background-color: chocolate;
}

input:checked {
    height: 50px;
    outline: 5px solid brown;
}

input:enabled {
    background-color: black;
} */
/* 
input:optional {
    background-color: brown;
} */

/* a[href] {
    background-color: red;
} */

/* a[target] {
    background-color: red;
} */

/* a[title="Dummy1"] {
    background-color: red;
} */
/* 
a[href^="https"] {
    background-color: red;
} */

/* a[href$="in"] {
    background-color: red;
} */

/* a[href*="google"] {
    background-color: red;
} */

/* a[title~="Dummy"] {
    background-color: aqua;
}

div p:nth-last-of-type() {
    background-color: red; */
/* } */

/* AN + B ->

A - 2
N - N (browser fills this - 0,1,2,3,4....)
B - 0 */

/* 2,4,6,8 -> got colored

AN+B ->

2N ->

0,2,4,6,8...

-----------------------

2n+1

-> 
n -> 0,1,2,3,4,5,6,,....

Final -> 1,3,5,7 */

/* 2N+3 

3,5,7 */
/* 
#dummyPara {
    background-color: hsl(0, 100%, 50%);
} */

/* #one {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
     background-color: rgba(255, 0, 0, 0.5);
     opacity: 0.5;
    background-color: aquamarine;
    margin-right: 20px;
    margin-top: 20px;
}

#two {
    background-color: bisque;
    height: 150vh;
    width: 100vw;
    margin-left: 50px;
} */
/* 
#one {
    width: 500px;
    border: 1px solid aquamarine;
}

#two {
    width: 500px;
    border: 1px solid blanchedalmond;
    padding: 20px;

} */

/* p {
    width: 200px;
    background-color: red;
    height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
/* 
#one {
    width: 40%;
    background-color: red;
    display: inline-block;
}

#two {
    width: 40%;
    background-color: green;
    display: inline-block;
} */

section:nth-child(even) {
    background-color: aquamarine;
}

section:nth-child(odd) {
    background-color: bisque;
}